In [1]:
import numpy as np

# Creating arrays with numpy

In [15]:
a = np.array([[1, 6],
            [2, 8],
            [3, 11],
            [3, 10],
            [1, 8]])
mean_a = a.mean(axis=0)

[2.  8.6]

# Array operations

In [23]:
a_centred = a - mean_a
a_centred_sp = a_centred.T[0] @ a_centred.T[1]
a_centred_sp = a_centred_sp / (a_centred.shape[0]-1)
np.cov(a.T)[0, 1]

1.75

# Pandas

In [27]:
import pandas as pd

In [41]:
authors = pd.DataFrame({"author_id": [1, 2, 3],
                        "author_name": ['Тургенев', 'Чехов', 'Островский']})
books = pd.DataFrame({"author_id": [1, 1, 1, 2, 2, 3, 3],
                      "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                      "price": [450, 300, 350, 500, 450, 370, 290]})
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price.sort_values(by="price", inplace=True)
authors_price.reset_index(drop=True, inplace=False)
top5 = authors_price.tail()
print(authors_price)
author_stat = authors_price.copy()
author_stat

   author_id author_name            book_title  price
6          3  Островский  Таланты и поклонники    290
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
5          3  Островский                 Гроза    370
0          1    Тургенев           Отцы и дети    450
4          2       Чехов       Дама с собачкой    450
3          2       Чехов      Толстый и тонкий    500

   author_id author_name            book_title  price
6          3  Островский  Таланты и поклонники    290
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
5          3  Островский                 Гроза    370
0          1    Тургенев           Отцы и дети    450
4          2       Чехов       Дама с собачкой    450
3          2       Чехов      Толстый и тонкий    500